@tailwind base;
@tailwind components;
@tailwind utilities;

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.marquee-text {
  display: flex;
  align-items: center;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
